.character-details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 50px;
  color: white;
}

.character-image {
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.character-name {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-top: 20px;
}

.character-description {
  font-size: 18px;
  margin-top: 10px;
  text-align: center;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  font-size: 24px;
  font-weight: bold;
}
