#root {
  font-family: "Marvel", sans-serif;
}

.marvel-container {
  text-decoration: none;
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  background-color: black;
  margin-top: 20px; /* Ajouter de l'espace en haut */
  margin-bottom: 20px; /* Ajouter de l'espace en bas */
}

button {
  font-family: "Marvel", sans-serif;
  font-size: 16px;
  font-weight: bold;
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #e62429;
  text-decoration: none;
  color: white;
}

button:hover {
  background-color: grey;
  transition-duration: 0.3s;
}

.buttons {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  margin-top: 10px;
}

.link-characters {
  color: white;
  text-decoration: none;
}

.link-comics {
  color: white;
  text-decoration: none;
}
.link-favorits {
  color: white;
  text-decoration: none;
}
